@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;

}

body {
    background-color: #ffffff;

    overflow-x: hidden;

}

.Navbar {
    border-radius: 20px 20px 20px 20px;
    background-color: #ffffff;
    margin: 22px 27px 27px 27px;

}

.Navbar ul {
    list-style: none;
    gap: 29px;
    padding: 22px 22px;
    display: flex;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 7px;

}

.Navbar li {
    gap: 16px;
}

.Navbar ul a {
    text-decoration: none;
    color: #39a0a7;
    font-size: 16px;

}

.Navbar ul .colo {
    color: #5a3956;
}

.Navbar button {
    padding: 12px 38px;
    border-radius: 20px;
    margin-left: 23rem;
    background-color: #39A0A7;
    color: #ffffff;
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: none;
}

.Navbar img {
    margin-left: 10px;
}

.footer {
    width: 80.5rem;
    height: 25rem;
    background-color: #39A0A7;
    border-radius: 30px;
    margin: 0px 28px 0px 28px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5rem;

}

.details1 {
    width: 20%;
    height: 25rem;
    position: absolute;
    top: 6rem;
    left: 2rem;
}

.details1 p {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}

.details1 i {
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    font-size: 16px;
    margin-top: 15px;
}

.details2 {
    position: absolute;
    top: 6rem;
    left: 20rem;
}

.details2 h2 {
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;

}

.details2 p {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
    margin-top: 1rem;
}

.details2 p span {
    margin-left: 15px;
    max-width: 5rem;
}

.details2 i {
    font-size: 20px;
}

.details3 {
    position: absolute;
    top: 6rem;
    left: 36rem;
}

.details3 h2 {
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;

}

.details3 p {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
    margin-top: 1rem;
}

.details4 {
    position: absolute;
    top: 6rem;
    left: 49rem;
}

.details4 h2 {
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;

}

.details4 p {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
    margin-top: 1rem;
}
.details4 a{
    text-decoration: none;
    color: white;
}
.details5 {
    position: absolute;
    top: 6rem;
    left: 60rem;
}

.details5 h2 {
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;

}

.details5 p {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
    margin-top: 1rem;
}

.footer .crunch {
    position: absolute;
    top: 0rem;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.choclate {
    position: absolute;
    bottom: 21rem;
    right: 0rem;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #303030;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.header {
    width: 100%;
    height: 35rem;
    background-color: #39a0a7;
    position: relative;
}

.About {
    position: absolute;
    bottom: 34rem;
    width: 100%;
}

.About1 {
    position: absolute;
    bottom: 0rem;
}

.border {
    position: absolute;
    bottom: 0rem;
    width: 100%;
}

.header h1 {
    position: absolute;
    bottom: 16rem;
    left: 34rem;
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    font-size: 50px;
    color: white;
}

.About-scope {
    position: absolute;
    top: 21rem;
    left: 3rem;
}

.About1-scope {
    position: absolute;
    top: 23rem;
    right: 4rem;
}

.container {
    width: 80.5rem;
    height: 25rem;
        margin: 0px 28px 0px 28px;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    color: #946f8c;
    font-size: 44px;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    max-width: 74rem;

}

.container p {
    max-width: 73rem;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #303030;
    line-height: 2em;
}

.para {
    margin-top: 2rem;
}

.container1 {
    width: 100%;
    height: 65rem;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5rem;
    background-color: #39a0a7;
}

.final {
    position: absolute;
    top: 0rem;
}

.final1 {
    position: absolute;
    bottom: 0rem;
}

.container1 video {
    z-index: 1;
    position: absolute;
    left: 3rem;
}

.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20rem;
    right: -2rem;
    width: 25rem;
    height: 22rem;
}

.content h1 {
    font-size: 44px;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: -9rem;
    left: -17rem;
}


.para1 {
    position: absolute;
    position: absolute;
    top: -4rem;
    right: 8rem;
    width: 34rem;
    height: 14rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}

.para2 {
    position: absolute;
    top: 7rem;
    right: 8rem;
    width: 34rem;
    height: 14rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}

.para3 {
    position: absolute;
    top: 23rem;
    right: 8rem;
    width: 34rem;
    height: 14rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}

.view{
    padding: 15px 30px;
    border: none;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: #e34f4d;
    background-color: white;
    z-index: 1;
    border-radius: 20px;
    position: absolute;
    top: 49rem;
    right: 31rem;
     transition: 0.3s;
}

.view:hover{
    background-color: #5a3956;
    color: #ffffff;
    transition: 0.3s;
}
.container4 {
    width: 80.5rem;
    height: 40rem;
    border-radius: 30px;
    margin: 0px 28px 0px 28px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5rem;
}

.rotate-ice {
    width: 45%;
    height: 52rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-ice {
    width: 40%;
    height: 52rem;
    position: relative;
    margin-top: 7rem;
}

.content-ice h1 {
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #e3454d;
    font-size: 45px;
    position: absolute;
    top: 3rem;
}

.content-ice .weekly {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #e3454d;
    position: absolute;
    top: 11rem;
    max-width: 27rem;
}

.animation {
    width: 20%;
    height: 52rem;
}

.rotate-ice img {
    position: absolute;
    bottom: 9rem;
    left: 4rem;
}

.rotate-ice video {
    position: absolute;
    bottom: 10rem;
    left: -1rem;
}

.day1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16rem;
}

.day1 h2 {
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #303030;
    font-size: 20px;
}

.day1 p {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #303030;
    padding-left: 2rem;
}

.day2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 19rem;
}

.day2 h2 {
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #303030;
    font-size: 20px;
}

.day2 p {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #303030;
    padding-left: 2rem;
}

.day3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 22rem;
}

.day3 h2 {
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #303030;
    font-size: 20px;
}

.day3 p {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #303030;
    padding-left: 2rem;
}

.day4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25rem;
}

.day4 h2 {
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #303030;
    font-size: 20px;
}

.day4 p {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #303030;
    padding-left: 2rem;
}

.day5 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 28rem;
}

.day5 h2 {
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #303030;
    font-size: 20px;
}

.day5 p {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #303030;
    padding-left: 2rem;
}

.day6 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 31rem;
}

.day6 h2 {
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #303030;
    font-size: 20px;
}

.day6 p {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #303030;
    padding-left: 2rem;
}

.day7 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 34rem;
}

.day7 h2 {
    font-family: "Rowdies", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #303030;
    font-size: 20px;
}

.day7 p {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #303030;
    padding-left: 2rem;
}

.animation .scope3 {
    position: absolute;
    bottom: 90px;
    right: 0;
}

.animation .flode {
    position: absolute;
    bottom: 18rem;
    right: 0;
}
.crunchi{
     position: absolute;
    bottom: -8rem;
    left: 0rem;
    z-index: -2;
    width: 28rem;
}
.choco{
       position: absolute;
    bottom: -8rem;
    right: 9rem;
    z-index: -2;
    width: 25rem;
    right: -6rem;
}
